section{
   background:white;
   width: 400px;
   border-color:black;
   height:60dvh;
   
  
   

}
body{
    background:rgb(114, 114, 141);
    justify-content: center;
   align-items: center;
   text-align: center;
   display:flex;
   margin-top:100px;
}
h1{
    background:rgb(22, 90, 22);
    color: white;
    height:55px;
   text-align:center;
   align-items: center;
    bottom:0px;
    font-family:'Times New Roman', Times, serif;
    padding-top:1px;
    padding-bottom:10px;
    display: flex;
    justify-content: center;
}

form{
    font-size:16px;
}